button {
    border-radius:20px;
    background-color: red;
    margin: 15px;
    border-color: bisque;
    text-align: center;
    color:white;

}

/* button :hover{
    background-color: black;
    cursor: pointer;
} */

.searchForm{
    margin: 70px;
} 

#no-search {
    font-size: larger;
    font-family: Chalkduster, fantasy;
}

